#main_container{
  padding: 0px 90px 0px 90px;
  margin-bottom: 40px;
}
/* <--------Heading Titles & offer code Text-----> */
#section_heading_title {
  width: 90%;
  margin: auto;
  margin-top: 10%;
}
#section_heading_title > div:first-of-type {
  color: black;
  font-weight: lighter;
  font-size: 25px;
}
.Offer_text {
  display: flex;
  align-items: center;
  font-size: 12px;
}
.Offer_text span {
  margin-top: 5px;
  padding: 2px 6px;
  background-color: #ee8787;
  border-radius: 3px;
  color: white;
  font-size: 12px;
  margin-right: 0.3%;
}
#Cart_Container {
  width: 98%;
  display: flex;
}

/* <---Table & subTotal div flex-----> */
.tableheading {
  flex: 8;
}
/*<-------Table for cart items----------> */

table {
  padding: 0 10px;
  width: 87%;
  margin: 20px auto;
  border-collapse: collapse;
}

th {
  color: black;
  /* color: rgb(61, 70, 77); */
  font-weight: bold;
  border-top: 1px solid silver;
  border-bottom: 1px solid silver;
  font-size: 12px;
  padding: 10px 30px;
}

tr,
td {
  text-align: center;
  
}

td:nth-child(1) {
  width: 15%;
}
#sel-Div{
  
  margin-top: 75px;
}

#qntySelect {
  align-items: center;
  text-align: center;
  border: 1px solid silver;
  width: 60px;
  padding: 2px;
  background-color: white;
}
select option:hover {
  background-color: white;
}
#removeBtn p:hover {
  background-color: crimson;
  color: white;
  letter-spacing: 2px;
  box-sizing: content-box;
}

/* CartItems Image styling here */

table img {
  width: 100%;
  height: 100%;
}

/* <----------Subtotal Div and Checkout Btn---------> */
#subTotal_Div {
  margin-top: 3%;
  flex: 2;
  border: 1px solid silver;
  height: 210px;
  text-align: center;
  color: black;
  padding: 5px 20px;
}

#subTotal_Div :nth-child(2) {
  border-top: 1px solid silver;
  border-bottom: 1px solid silver;
  padding: 4px 0;
  font-size: 10px;
}


#checkoutBtn {
  width: 90%;
  background-color: blue;
  border: 0;
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  border-radius: 3px;

}
#checkoutBtn:hover {
  background-color: #626ac4;
}
#paytImgs {
  margin-top: 5px;
  padding: 1px;
}
#paytImgs p {
  margin-top: 25px;
  ;
}

/*<-------------- Apply Coupon Code & Gift card----------> */
.Gifticons_flextText {
  align-items: center;
  display: flex;
}
.Gifticons_flextText > img {
  height: 20px;
  margin-right: 4px;
}
#Coupon-div {
  width: 90%;
  margin: 30px auto;
}
#spanUsecodeclick {
  color: blue;
  text-decoration: none;
  cursor: pointer;
}
#CouponInput {
  padding: 8px;
  font-size: 16px;
  width: 20%;
  margin-left: 0;
}

input[type="submit"] {
  font-size: 16px;
  border-radius: 4px;
  border: 0;
  width: 15%;
  padding: 10px;
  background-color: #626ac4;
  color: white;
}

input[type="submit"]:hover {
  cursor: pointer;
  background-color: blue;
}

/*<-----------contact or need help text---------> */
#Contact_Text {
  width: 90%;
  margin: auto;
  font-size: 12px;
}
#Contact_Text > p {
  font-size: 16px;
}
.icon_contact_flex {
  align-items: center;
  display: flex;
}
#Contact_Text img {
  margin-right: 5px;
  height: 18px;
}

